html,
body
	height: 100%
    


// typography
body 
    font-size: 18px
    font-family: 'Josefine Sans' 
    padding-top: 80px
    
    @media (min-height: 750px) and (min-width: 1200px)
    	padding-top: 0 
    
    @media (max-height: 750px) and (min-width: 1200px)
    	padding-top: 80px
    	
    @media (max-width: 1199px)
    	padding-top: 0 




.gradient
	color: $color-primary
	background-image: linear-gradient(180deg, #2c6ae5, #872f99)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

// other overall settings
+placeholder
    opacity: 1