html,
body
	height: 100%
    


// typography
body 
    font-size: 18px
    font-family: 'Josefine Sans' 
    padding-top: 80px
    
    @media (min-height: 750px) and (min-width: 1200px)
    	padding-top: 0 
    
    @media (max-height: 750px) and (min-width: 1200px)
    	padding-top: 80px
    	
    @media (max-width: 1199px)
    	padding-top: 0 




.gradient
	color: $color-primary
	background-image: linear-gradient(180deg, #2c6ae5, #872f99)
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

// other overall settings
+placeholder
    opacity: 1


.bouncing-loader
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw
  background-color: #ffffff
  z-index: 1000
  transition: all .4s ease-out

  &.animated 
      visibility: hidden
      opacity: 0
      pointer-events: none

.bouncing-loader__round
  width: 120px
  height: 200px
  background-image: url('../images/logo-sign.png')
  background-size: 100% auto
  background-repeat: no-repeat
  background-position: center center
  animation: bounce 0.8s infinite alternate

@keyframes bounce
  from
    opacity: 1
    transform: translateY(0)

  to
    opacity: 0.2
    transform: translateY(-20px)